[Unit]
Description=eToken process watcher

[Service]
Type=simple
ExecStart=ewatcher.sh --nolock
User=dk
Group=root
# Parameter is changeable. Execute 'ewatcher.sh' with '--help' parameter in order to familiarize them.

[Install]
WantedBy=multi-user.target
