[Desktop Entry]
Name=ewatcher
GenericName=ewatcher.desktop
Comment=eToken process killer
Exec=bash .config/autostart/ewatcher.sh --lock
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
